{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://hackerrank.com/ethanmaregele"><img src="{% static 'images/hackerrank.png' %}" alt="..."></a></li>
        <li><a href="https://leetcode.com/ethanmaregele/"><img src="{% static 'images/leetcode.png' %}" alt="..."></a></li>
        <li><a href="https://github.com/ethlor"><img src="{% static 'images/github-mark.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/ethan-maregele"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->